# Chart Events

Contains Patient input events while in ICU

In [164]:
import pandas as pd  # type: ignore
import os 
import glob 
from datetime import datetime
import numpy as np

import warnings
# Temporarily suppress FutureWarnings
with warnings.catch_warnings():
    warnings.simplefilter("ignore", FutureWarning)

In [165]:
directory = '/Users/maxb/Library/CloudStorage/OneDrive-UniversityofWaterloo/Hospital Research/Datasets/MIMIC-III_demo'
os.chdir(directory)

cevents_df = pd.read_csv("CHARTEVENTS.csv")
admdf = pd.read_csv('/Users/maxb/Library/CloudStorage/OneDrive-UniversityofWaterloo/Hospital Research/Datasets/Cleaned MIMIC-III Dataset/ADMISSION.csv')

# Converting Date Time
cevents_df['charttime'] = cevents_df['charttime'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))

/var/folders/l8/w77hdfv1735czt0xx90sm3_80000gn/T/ipykernel_37890/3455028685.py:4: DtypeWarning: Columns (8,10,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  cevents_df = pd.read_csv("CHARTEVENTS.csv")

In [166]:
# print(cevents_df['warning'].unique(), cevents_df['error'].unique(), cevents_df['resultstatus'].unique())
# print(cevents_df['stopped'].unique())

In [167]:
subjects = list(admdf['subject_id'])

cevents_df_new = pd.DataFrame()

for i in subjects:
    if i in list(cevents_df['subject_id']):
       cevents_df_new = pd.concat([cevents_df.loc[(cevents_df['subject_id'] == i) & (cevents_df['charttime'] >= pd.Series.to_string(admdf.loc[admdf['subject_id'] ==  i, 'admittime'], index=False)) & 
                            (cevents_df['charttime'] <= pd.Series.to_string(admdf.loc[admdf['subject_id'] ==  i, 'dischtime'], index=False))], cevents_df_new])

cevents_df = cevents_df_new
cevents_df = cevents_df[['subject_id', 'hadm_id', 'itemid', 'value', 'valueuom', 'cgid']]

In [168]:
cols = list(cevents_df.columns)


for i in cols:
    check_nan = cevents_df[i].isnull().values.any()
    if check_nan == True:
        print(i)
        print("Nan value found")

value
Nan value found
valueuom
Nan value found

In [169]:
cevents_df = cevents_df.fillna(0)

In [170]:
print("Chart Events:", cevents_df.shape)
cevents_df.head()

Chart Events: (341774, 6)

       subject_id  hadm_id  itemid value valueuom   cgid
76557       43798   130870  223761  95.2       ?F  14427
76558       43798   130870  220046   120      bpm  14427
76559       43798   130870  220047    60      bpm  14427
76560       43798   130870  220050   155     mmHg  14427
76561       43798   130870  220051    76     mmHg  14427

In [171]:
cevents_df.to_csv('/Users/maxb/Library/CloudStorage/OneDrive-UniversityofWaterloo/Hospital Research/Datasets/Cleaned MIMIC-III Dataset/CHARTEVENTS.csv')

# Data Cleaned