# Lab Events

In [7]:
import pandas as pd  # type: ignore
import os 
import glob 
from datetime import datetime
import numpy as np

import warnings
# Temporarily suppress FutureWarnings
with warnings.catch_warnings():
    warnings.simplefilter("ignore", FutureWarning)

In [8]:
# Setting the Directory

directory = '/Users/maxb/Library/CloudStorage/OneDrive-UniversityofWaterloo/Hospital Research/Datasets/MIMIC-III_demo'
os.chdir(directory)

# Loading Dataset
lab_df = pd.read_csv("LABEVENTS.csv")
m,n = lab_df.shape
lab_df.head()

,row_id,subject_id,hadm_id,itemid,charttime,value,valuenum,valueuom,flag
0,6244563,10006,NaN,50868,2164-09-24 20:21:00,19,19.0,mEq/L,NaN
1,6244564,10006,NaN,50882,2164-09-24 20:21:00,27,27.0,mEq/L,NaN
2,6244565,10006,NaN,50893,2164-09-24 20:21:00,10.0,10.0,mg/dL,NaN
3,6244566,10006,NaN,50902,2164-09-24 20:21:00,97,97.0,mEq/L,NaN
4,6244567,10006,NaN,50912,2164-09-24 20:21:00,7.0,7.0,mg/dL,abnormal

In [9]:
flag = lab_df["flag"].unique()
print(flag)

# Replacing abonromal with 1, delta with 2 and Nan with 0
lab_df['flag'] = lab_df['flag'].apply(lambda x: 1 if x == 'abnormal' else 2 if x == 'delta' else 0)

[nan 'abnormal' 'delta']

In [10]:
col_drops = ["hadm_id", "value", "charttime", "row_id"]

for i in col_drops:
    lab_df = lab_df.drop(i, axis=1)

In [11]:
print("Lab Events:", lab_df.shape)
lab_df.head()

Lab Events: (76074, 5)

   subject_id  itemid  valuenum valueuom  flag
0       10006   50868      19.0    mEq/L     0
1       10006   50882      27.0    mEq/L     0
2       10006   50893      10.0    mg/dL     0
3       10006   50902      97.0    mEq/L     0
4       10006   50912       7.0    mg/dL     1

In [12]:
lab_df.to_csv('/Users/maxb/Library/CloudStorage/OneDrive-UniversityofWaterloo/Hospital Research/Scripts/Cleaned MIMIC-III Datasets/LAB.csv')

# Conclusion

Data has been cleaned. Some additional manipulation may be performed