# Output Event Table

Output data for patients

In [1]:
import pandas as pd  # type: ignore
import os 
import glob 
from datetime import datetime
import numpy as np

import warnings
# Temporarily suppress FutureWarnings
with warnings.catch_warnings():
    warnings.simplefilter("ignore", FutureWarning)

In [2]:
directory = '/Users/maxb/Library/CloudStorage/OneDrive-UniversityofWaterloo/Hospital Research/Datasets/MIMIC-III_demo'
os.chdir(directory)

oevents_df = pd.read_csv("OUTPUTEVENTS.csv")
oevents_df.head()

,row_id,subject_id,hadm_id,icustay_id,charttime,itemid,value,valueuom,storetime,cgid,stopped,newbottle,iserror
0,6540,10114,167957,234989.0,2171-10-30 20:00:00,40055,39.0,ml,2171-10-30 20:38:00,15029,NaN,NaN,NaN
1,6541,10114,167957,234989.0,2171-10-30 21:00:00,40055,35.0,ml,2171-10-30 21:18:00,15029,NaN,NaN,NaN
2,6542,10114,167957,234989.0,2171-10-30 23:00:00,40055,100.0,ml,2171-10-30 23:31:00,15029,NaN,NaN,NaN
3,6543,10114,167957,234989.0,2171-10-31 00:00:00,40055,45.0,ml,2171-10-31 00:24:00,15029,NaN,NaN,NaN
4,6544,10114,167957,234989.0,2171-10-31 02:00:00,40055,80.0,ml,2171-10-31 02:02:00,15029,NaN,NaN,NaN

In [3]:
oevents_df = oevents_df[['subject_id', 'hadm_id', #'icustay_id', 
                         'itemid', 'value', 'valueuom', 'cgid']]

cols = list(oevents_df.columns)

for i in cols:
    check_nan = oevents_df [i].isnull().values.any()
    if check_nan == True:
        print(i)
        print("Nan value found")
        break

value
Nan value found

In [4]:
oevents_df['value'] = oevents_df['value'].fillna(0)
oevents_df['valueuom'] = oevents_df['valueuom'].fillna(0)

In [5]:
for i in cols:
    check_nan = oevents_df [i].isnull().values.any()
    if check_nan == True:
        print(i)
        print("Nan value found")
        break

In [6]:
print("Output Events:", oevents_df.shape)
oevents_df.head()

Output Events: (11320, 6)

   subject_id  hadm_id  itemid  value valueuom   cgid
0       10114   167957   40055   39.0       ml  15029
1       10114   167957   40055   35.0       ml  15029
2       10114   167957   40055  100.0       ml  15029
3       10114   167957   40055   45.0       ml  15029
4       10114   167957   40055   80.0       ml  15029

In [7]:
oevents_df.to_csv('/Users/maxb/Library/CloudStorage/OneDrive-UniversityofWaterloo/Hospital Research/Scripts/Cleaned MIMIC-III Datasets/OUTPUTEVENTS.csv')

# Data Cleaned