# Patients Table

Patient infromation

In [1]:
import pandas as pd  # type: ignore
import os 
import glob 
from datetime import datetime
import numpy as np

import warnings
# Temporarily suppress FutureWarnings
with warnings.catch_warnings():
    warnings.simplefilter("ignore", FutureWarning)

In [2]:
directory = '/Users/maxb/Library/CloudStorage/OneDrive-UniversityofWaterloo/Hospital Research/Datasets/MIMIC-III_demo'
os.chdir(directory)

In [3]:
pat_df = pd.read_csv("PATIENTS.csv")
pat_df.head()

,row_id,subject_id,gender,dob,dod,dod_hosp,dod_ssn,expire_flag
0,9467,10006,F,2094-03-05 00:00:00,2165-08-12 00:00:00,2165-08-12 00:00:00,2165-08-12 00:00:00,1
1,9472,10011,F,2090-06-05 00:00:00,2126-08-28 00:00:00,2126-08-28 00:00:00,NaN,1
2,9474,10013,F,2038-09-03 00:00:00,2125-10-07 00:00:00,2125-10-07 00:00:00,2125-10-07 00:00:00,1
3,9478,10017,F,2075-09-21 00:00:00,2152-09-12 00:00:00,NaN,2152-09-12 00:00:00,1
4,9479,10019,M,2114-06-20 00:00:00,2163-05-15 00:00:00,2163-05-15 00:00:00,2163-05-15 00:00:00,1

In [4]:
pat_df = pat_df[['subject_id', 'gender', 'dob']]
pat_df.head()

   subject_id gender                  dob
0       10006      F  2094-03-05 00:00:00
1       10011      F  2090-06-05 00:00:00
2       10013      F  2038-09-03 00:00:00
3       10017      F  2075-09-21 00:00:00
4       10019      M  2114-06-20 00:00:00

In [5]:
cols = list(pat_df.columns)
for i in cols:
    check_nan = pat_df[i].isnull().values.any()
    if check_nan == True:
        print("Nan value found")
        break

In [6]:
print("Patients:", pat_df.shape)
pat_df.head()

Patients: (100, 3)

   subject_id gender                  dob
0       10006      F  2094-03-05 00:00:00
1       10011      F  2090-06-05 00:00:00
2       10013      F  2038-09-03 00:00:00
3       10017      F  2075-09-21 00:00:00
4       10019      M  2114-06-20 00:00:00

In [7]:
pat_df.to_csv('/Users/maxb/Library/CloudStorage/OneDrive-UniversityofWaterloo/Hospital Research/Scripts/Cleaned MIMIC-III Datasets/PATIENTS.csv')

# Data Cleaned