# Services Table

Lists services that a patient was admitted/transferred under

In [1]:
import pandas as pd  # type: ignore
import os 
import glob 
from datetime import datetime
import numpy as np

import warnings
# Temporarily suppress FutureWarnings
with warnings.catch_warnings():
    warnings.simplefilter("ignore", FutureWarning)

In [4]:
directory = '/Users/maxb/Library/CloudStorage/OneDrive-UniversityofWaterloo/Hospital Research/Datasets/MIMIC-III_demo'
os.chdir(directory)

serv_df = pd.read_csv("SERVICES.csv")

m,n = serv_df.shape
print("Services:")
serv_df.head()

Services:

   row_id  subject_id  hadm_id         transfertime prev_service curr_service
0   14974       10006   142345  2164-10-23 21:10:15          NaN          MED
1   14979       10011   105331  2126-08-14 22:34:00          NaN          MED
2   14981       10013   165520  2125-10-04 23:38:00          NaN          MED
3   14985       10017   199207  2149-05-26 17:21:09          NaN          MED
4   14986       10019   177759  2163-05-14 20:43:56          NaN          MED

In [3]:
print(serv_df['prev_service'].unique())
print(serv_df['curr_service'].unique())
print(m,n)

[nan 'MED' 'OMED' 'CMED' 'NSURG' 'TSURG' 'CSURG' 'VSURG' 'SURG' 'NMED']
['MED' 'NMED' 'CSURG' 'SURG' 'VSURG' 'CMED' 'OMED' 'NSURG' 'TSURG' 'TRAUM'
 'ORTHO' 'GU']
163 6

Contains transfer infromation from what service to what service. Not sure how to approach this data